
body {
    font-family: Arial, sans-serif;
    background-color:grey;
    color: #ffffff;
    line-height: 1.8;
    margin: 0;
}


header {
    background-color: #10141b;
    border-bottom: 3px solid #4ade80;
    padding: 30px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #4ade80;
    text-transform: uppercase;
}

nav {
    margin-top: 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    border-bottom: 1px solid transparent;
}

nav a:hover {
    color: #4ade80;
    border-bottom: 1px solid #4ade80;
}


main {
    max-width: 850px;
    margin: 30px auto;
    padding: 0 20px;
}

.card {
    background-color: #161b22;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 25px;
    border: 1px solid #30363d;
}

h2 {
    color: #4ade80;
    margin-top: 0;
    font-size: 1.5rem;
}


.mutants-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 12px;
    list-style: none;
    padding: 0;
}

.mutants-grid li {
    background: #21262d;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    font-weight: 500;
}


.gallery {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.gallery img {
    border-radius: 8px;
    border: 2px solid #30363d;
}

.video-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-top: 20px;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}


footer {
    text-align: center;
    padding: 40px 20px;
    background: #10141b;
    margin-top: 40px;
}

.buy-button {
    background-color: #4ade80;
    color: #000000;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
}

.buy-button:hover {
    background-color: #ffffff;
}
